@font-face{
        font-family: MadeTommy;
        src: url("./Font/MADETommySoft.otf");
    }

*{
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        border-spacing: 0;
        box-sizing: border-box;
    }


body.FaudaDex {
        background-image: url('Img/FondBouc.png');
    }

    body.DexDouble {
        background-image: url('Img/FondDouble.png');
    }

    body.ScartixDex {
        background-image: url('Img/FondEpee.png');
    }

    div.BoiteMain {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 40vh;
        flex-direction: column;
    }

    div.BoiteFaudaMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .4vw solid #ccc;
        margin-bottom: 4vh;
        background-color: #e39898;
    }

    div.BoiteFaudaMain:hover {
        background-color: lightcoral;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }

    div.BoiteScartixMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .4vw solid #ccc;
        background-color: #c0e2ed;
    }

    div.BoiteScartixMain:hover {
        background-color: #8fcee3;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }


    p.TexteFaudaMain {
        color: black;
        font-size: 4vw;
        font-family: MadeTommy;
    }

    p.TexteScartixMain {
        color: black;
        font-size: 4vw;
        font-family: MadeTommy;
    }

    a.LienBoiteAcceuil {
        margin-left: 2vw;
        margin-right: 2vw;
    }



    div.BoiteHeader {
        display: flex; /* Utilisation de Flexbox */
        background-color: black;
        align-items: center; /* Centrer verticalement le contenu */
    }

    div.BoiteTexteHeader {
        margin-left: 10vw; /* Padding défini en fonction de la largeur de l'écran (10% de la largeur, car vw=1%) */
        display: inline-block; /* La div prend la taille de l'image */
    }

    div.BoiteImageCCHeader {
        display: inline-block;
        padding: .5vw;
    }

    div.BoiteRecherche {
        display: flex;
        margin-left: 10vw;
        align-items: center; /* Centrer verticalement le contenu */
        flex-direction: column;
    }

    img.ImageRecherche {
        cursor: pointer;
        width: 10vw;
        height: 10vw;
        padding: .5vw;
    }

    input.BarreRecherche {
        display: none;
        width: 25vw;
        height: 4vw;
        padding: .5vw;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    img.ImageCCHeader {
        width: 10vw;
        height: 10vw;
    }

    p.TexteHeader {
        color: white;
        font-size: 7vw;
        font-family: MadeTommy;
        text-align: center;
    }


    div.BoitePage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 5vw;
        flex-direction: column;
    }

    div.BoiteGenPoke {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    div.BoiteGen {
        align-items: center;
        justify-content: center;
    }

    div.BoitePoke1 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #d0d15f;
        border-radius: 3vw;
        margin: 3vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke1:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke1.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke1.clicked img.ImagePoke1 {
        width: 60vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke1.clicked p.TextePoke {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked p.TextePokeN {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked div.BoiteTextePoke {
        display: block;
        margin-right: 2vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke1.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke1.clicked img.Logo {
        display: block;
        margin-left: 2vw;
        width: 7vw;
    }

    div.BoitePoke2 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #968080;
        border-radius: 3vw;
        margin: 3vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke2:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke2.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke2.clicked img.ImagePoke2 {
        width: 60vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke2.clicked p.TextePoke {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked p.TextePokeN {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked div.BoiteTextePoke {
        display: block;
        margin-right: 2vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke2.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke2.clicked img.Logo {
        display: block;
        margin-left: 2vw;
        width: 7vw;
    }

    div.BoiteTiret {
        margin: 1vw;
        width: 95vw;
        border-top: 1vw dashed white; /* Ligne de tirets */
    }

    div.BoiteTexteGen {
        display: inline-block;
        background-color: yellow;
        border-radius: 3vw;
        border: .3vw solid #ccc;
        margin: 1vw;
    }

    p.TexteGen {
        padding: .3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 10vw;
        font-family: MadeTommy;
    }

    img.ImagePoke1 {
        width: 15vw;
        height: 15vw;
    }

    img.ImagePoke2 {
        width: 15vw;
        height: 15vw;
        filter: grayscale(100%);
    }

    p.TextePoke {
        display: none;
    }

    p.TextePokeN {
        display: none;
    }

    div.BoiteTextePoke {
        display: none;
    }

    img.Logo{
        display: none;
    }





































/* Styles pour les grands écrans */

@media only screen and (min-width: 1024px) {

    body.FaudaDex {
        background-image: url('Img/FondBouc.png');
    }

    body.DexDouble {
        background-image: url('Img/FondDouble.png');
    }

    body.ScartixDex {
        background-image: url('Img/FondEpee.png');
    }

    div.BoiteMain {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30vw;
        margin-right: 30vw;
        margin-top: 40vh;
    }

    div.BoiteFaudaMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .2vw solid #ccc;
        background-color: #e39898;
    }

    div.BoiteFaudaMain:hover {
        background-color: lightcoral;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }

    div.BoiteScartixMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .2vw solid #ccc;
        background-color: #c0e2ed;
    }

    div.BoiteScartixMain:hover {
        background-color: #8fcee3;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }


    p.TexteFaudaMain {
        color: black;
        font-size: 1.3vw;
        font-family: MadeTommy;
    }

    p.TexteScartixMain {
        color: black;
        font-size: 1.3vw;
        font-family: MadeTommy;
    }

    a.LienBoiteAcceuil {
        margin-left: 2vw;
        margin-right: 2vw;
    }



    div.BoiteHeader {
        display: flex; /* Utilisation de Flexbox */
        background-color: black;
        align-items: center; /* Centrer verticalement le contenu */
    }

    div.BoiteTexteHeader {
        margin-left: 10vw; /* Padding défini en fonction de la largeur de l'écran (10% de la largeur, car vw=1%) */
        display: inline-block; /* La div prend la taille de l'image */
    }

    div.BoiteImageCCHeader {
        display: inline-block;
        padding: .5vw;
    }

    div.BoiteRecherche {
        display: flex;
        margin-left: 10vw;
        align-items: center; /* Centrer verticalement le contenu */
        flex-direction: row;
    }

    img.ImageRecherche {
        cursor: pointer;
        width: 3vw;
        height: 3vw;
        padding: .5vw;
    }

    input.BarreRecherche {
        display: none;
        width: 25vw;
        height: 1.5vw;
        padding: .5vw;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    img.ImageCCHeader {
        width: 2vw;
        height: 2vw;
    }

    p.TexteHeader {
        color: white;
        font-size: 1.3vw;
        font-family: MadeTommy;
    }


    div.BoitePage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vw;
        flex-direction: column;
    }

    div.BoiteGenPoke {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    div.BoiteGen {
        align-items: center;
        justify-content: center;
    }

    div.BoitePoke1 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #d0d15f;
        border-radius: 1vw;
        margin: 1vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke1:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke1.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke1.clicked img.ImagePoke1 {
        width: 20vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke1.clicked p.TextePoke {
        display: inline-block;
        font-size: 1vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked p.TextePokeN {
        display: inline-block;
        font-size: 1vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked div.BoiteTextePoke {
        display: block;
        margin-right: .3vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke1.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke1.clicked img.Logo {
        display: block;
        margin-left: .5vw;
        width: 1vw;
    }

    div.BoitePoke2 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #968080;
        border-radius: 1vw;
        margin: 1vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke2:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke2.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke2.clicked img.ImagePoke2 {
        width: 20vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke2.clicked p.TextePoke {
        display: inline-block;
        font-size: 1vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked p.TextePokeN {
        display: inline-block;
        font-size: 1vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked div.BoiteTextePoke {
        display: block;
        margin-right: .3vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke2.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke2.clicked img.Logo {
        display: block;
        margin-left: .5vw;
        width: 1vw;
    }

    div.BoiteTiret {
        margin: 1vw;
        width: 80vw;
        border-top: .3vw dashed white; /* Ligne de tirets */
    }

    div.BoiteTexteGen {
        display: inline-block;
        background-color: yellow;
        border-radius: 1vw;
        border: .2vw solid #ccc;
        margin: 1vw;
    }

    p.TexteGen {
        padding: .3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 1vw;
        font-family: MadeTommy;
    }

    img.ImagePoke1 {
        width: 5vw;
        height: 5vw;
    }

    img.ImagePoke2 {
        width: 5vw;
        height: 5vw;
        filter: grayscale(100%);
    }

    p.TextePoke {
        display: none;
    }

    p.TextePokeN {
        display: none;
    }

    div.BoiteTextePoke {
        display: none;
    }

    img.Logo{
        display: none;
    }

}
















































/* Styles pour les grands écrans */

@media only screen and (max-width: 600px) {

    body.FaudaDex {
        background-image: url('Img/FondBouc.png');
    }

    body.DexDouble {
        background-image: url('Img/FondDouble.png');
    }

    body.ScartixDex {
        background-image: url('Img/FondEpee.png');
    }

    div.BoiteMain {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 40vh;
        flex-direction: column;
    }

    div.BoiteFaudaMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .4vw solid #ccc;
        margin-bottom: 4vh;
        background-color: #e39898;
    }

    div.BoiteFaudaMain:hover {
        background-color: lightcoral;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }

    div.BoiteScartixMain {
        display: inline-block;
        padding: 1vw;
        border-radius: 1vw;
        border: .4vw solid #ccc;
        background-color: #c0e2ed;
    }

    div.BoiteScartixMain:hover {
        background-color: #8fcee3;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    }


    p.TexteFaudaMain {
        color: black;
        font-size: 4vw;
        font-family: MadeTommy;
    }

    p.TexteScartixMain {
        color: black;
        font-size: 4vw;
        font-family: MadeTommy;
    }

    a.LienBoiteAcceuil {
        margin-left: 2vw;
        margin-right: 2vw;
    }



    div.BoiteHeader {
        display: flex; /* Utilisation de Flexbox */
        background-color: black;
        align-items: center; /* Centrer verticalement le contenu */
    }

    div.BoiteTexteHeader {
        margin-left: 10vw; /* Padding défini en fonction de la largeur de l'écran (10% de la largeur, car vw=1%) */
        display: inline-block; /* La div prend la taille de l'image */
    }

    div.BoiteImageCCHeader {
        display: inline-block;
        padding: .5vw;
    }

    div.BoiteRecherche {
        display: flex;
        margin-left: 10vw;
        align-items: center; /* Centrer verticalement le contenu */
        flex-direction: column;
    }

    img.ImageRecherche {
        cursor: pointer;
        width: 10vw;
        height: 10vw;
        padding: .5vw;
    }

    input.BarreRecherche {
        display: none;
        width: 25vw;
        height: 4vw;
        padding: .5vw;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    img.ImageCCHeader {
        width: 10vw;
        height: 10vw;
    }

    p.TexteHeader {
        color: white;
        font-size: 7vw;
        font-family: MadeTommy;
        text-align: center;
    }


    div.BoitePage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 5vw;
        flex-direction: column;
    }

    div.BoiteGenPoke {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    div.BoiteGen {
        align-items: center;
        justify-content: center;
    }

    div.BoitePoke1 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #d0d15f;
        border-radius: 3vw;
        margin: 5vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke1:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke1.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke1.clicked img.ImagePoke1 {
        width: 60vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke1.clicked p.TextePoke {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked p.TextePokeN {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke1.clicked div.BoiteTextePoke {
        display: block;
        margin-right: 2vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke1.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke1.clicked img.Logo {
        display: block;
        margin-left: 2vw;
        width: 7vw;
    }

    div.BoitePoke2 {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: #968080;
        border-radius: 3vw;
        margin: 5vw;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div.BoitePoke2:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: black;
    } 

    /* Style de la boîte agrandie */
    .BoitePoke2.clicked {
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-direction: column;
    }

    /* Image qui grandit et se centre dans la boîte après clic */
    .BoitePoke2.clicked img.ImagePoke2 {
        width: 60vw;
        height: auto;
        transition: all 0.5s ease;
    }

    /* Lorsque la boîte a la classe 'clicked', le texte s'affiche */
    div.BoitePoke2.clicked p.TextePoke {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked p.TextePokeN {
        display: inline-block;
        font-size: 7vw;
        font-family: MadeTommy;
    }

    div.BoitePoke2.clicked div.BoiteTextePoke {
        display: block;
        margin-right: 2vw;
        padding: .1vw;
        background-color: #825858;
    }

    div.BoitePoke2.clicked div.BoiteTexteInfos {
        margin-top: 2vw;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    div.BoitePoke2.clicked img.Logo {
        display: block;
        margin-left: 2vw;
        width: 7vw;
    }

    div.BoiteTiret {
        margin: 1vw;
        width: 95vw;
        border-top: 1vw dashed white; /* Ligne de tirets */
    }

    div.BoiteTexteGen {
        display: inline-block;
        background-color: yellow;
        border-radius: 3vw;
        border: .3vw solid #ccc;
        margin: 1vw;
    }

    p.TexteGen {
        padding: .3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 10vw;
        font-family: MadeTommy;
    }

    img.ImagePoke1 {
        width: 20vw;
        height: 20vw;
    }

    img.ImagePoke2 {
        width: 20vw;
        height: 20vw;
        filter: grayscale(100%);
    }

    p.TextePoke {
        display: none;
    }

    p.TextePokeN {
        display: none;
    }

    div.BoiteTextePoke {
        display: none;
    }

    img.Logo{
        display: none;
    }

}
